.nametag {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: -4px 4px 4px rgba(0,0,0,0.5);
  background-color: red;
}

.heading {
  justify-content: center;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.name {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #FFF;
  margin-bottom: 50px;
  justify-content: center;
}

.menu-open {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  z-index: 1;
  display: inline-block;
  background-color: transparent;
  border: none;
  color: white;
}

@media screen and (max-width: 500px){
  .menu-open {
    position: relative;
    margin-right: 0;
    width: 35px;
    margin-left: auto;
  }
}

h1 {
  font-size: 5em;
  line-height: 1em;
  margin: 10px 0 0 0;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h2{
  line-height: 1em;
  font-size: 2em;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  letter-spacing: .3em;
}

h3 {
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 3em;
}

form > input {
  font-size: 3em;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  border: none;
  text-align: center;
  max-width: 100%;
}

@media screen and (max-width: 500px){
  form > input, h3 {
    font-size: 2em;
  }
}

.copyright {
  display: flex;
  align-self: flex-end;
  padding-right: 20px;
  color: white; 
}